*{
	margin: 0;
	padding: 0;
}
@font-face {
	font-family: 'Tahoma';
	src: url('../fonts/tahoma.ttf');
}
body{
	font-family: tahoma, sans-serif;
	color: #000;
	background: #fff;
	font-size: 16px;
	line-height: 1.3;
	min-width: 900px;
	margin: 0;
}
.container{
	width: 744px;
	margin: 0 auto;
	background-color: #f8f6e9;
}
.main-block{
	width: 634px;
	margin: 0 auto;
	padding: 20px 0 20px 0;
}
.tbl thead{
	border-bottom: 2px solid #d8c59b;
}
.tbl thead tr th{
	color:  #333333;
	font-size: 11px;
	font-weight: normal;
	letter-spacing: 0.33px;
	line-height: 10px;
	vertical-align: top;
}
.tbl thead tr th{
	padding: 0 0 0 5px;
}
.tbl thead tr th:nth-child(n+2){
	background: url("../img/vertical_line.png") 0 0 no-repeat;
}
.plus{
	content: '';
	width: 12px;
	height: 12px;
	padding: 0 6px;
	background: url("../img/plus.png") 0 0 no-repeat;
}
.minus{
	content: '';
	width: 12px;
	height: 12px;
	padding: 0 6px;
	background: url("../img/minus.png") 0 0 no-repeat;
}
.tbl tbody tr td{
	padding: 10px;
	font-size: 12px;
}
.tbl tbody tr td a{
	text-decoration: none;
	color: #333333;
}

.tbl tbody tr:nth-child(2n+1) td{
	background: #efedce;
	z-index: -1;
}
.tbl tbody tr:nth-child(2n+1):hover td{
	border-top: 1px solid #efedce;
	border-bottom: solid 1px #efedce;
	background: #fff;
	z-index: 100;
}
.tbl tbody:first-child:hover{
	background: #fff;
}
.tbl tbody tr:hover{
	color: #3e8441;
	background: #fff;
	box-shadow:  0 2px 3px 0 rgba(219, 202, 181, 0.5), 0 1px 2px 0 rgba(219, 202, 181, 0.6) inset;
}
.tbl tbody tr:hover a{
	color: #3e8441;
	background: #fff;
}
.tbl tbody tr td:first-child{
	width: 38px;
}
.tbl tbody tr td:nth-child(3){
	width: 45px;
}
.tbl tbody tr td:nth-child(5){
	width: 120px;
}
.tbl tbody tr td:nth-child(6){
	width: 60px;
}
.tbl tbody tr td:nth-child(7){
	width: 95px;
}
.tbl tbody tr td:nth-child(8){
	width: 77px;
	font-weight: bold;
}
.tbl tbody tr td:nth-child(9){
	width: 80px;
}
.tbl tfoot{
	border-top: 2px solid #d8c59b;;
}

/*second block*/

.block{
	font-family: arial, sans-serif;
	width: 750px;
	margin: 0 auto;
	background-color: #ffffff;
}
.tbl-2{
	border-collapse: separate;
	box-sizing: border-box;
	background-color:  #fff;
	width: 750px;
}
h1{
	color: #003663;
	font-size: 20px;
	font-weight: normal;
	text-align: left;
	padding: 10px 0 10px;
}
p{
	color: #7f7f7f;
	font-size: 14px;
	text-align: left;
	padding: 8px 0 20px;
}
.tbl-2 tbody tr td{
	font-size: 12px;
	padding: 13px 5px;
}
.tbl-2 tbody tr td:first-child{
	font-size: 14px;
	padding: 0 10px 0 20px;
}
.tbl-2 tbody tr td:last-child{
	font-size: 12px;
	padding: 0 10px 0 22px;
}
.tbl-2 tbody tr:nth-child(2n+1){
	background-color: #f4fbfd;
}


