*{
    margin: 0;
    padding: 0;
}
body{
    font-family: arial, sans-serif;
    color: #000;
    background: #fff;
    font-size: 16px;
    line-height: 1.3;
    min-width: 900px;
    margin: 0;
}
.container {
    width: 1000px;
    margin: 0 auto;
}
header{
    background-color: #e8ebf1;
    width: 100%;
    overflow: hidden;
}
.logo{
    width: 1000px;
    float: left;
    padding: 29px 0;
    clear: both;
}
img{
    padding: 4px 0 4px 0;

}
nav{
    float: right;
    padding: 17px 32px
}
nav ul{
    list-style: none;
}
nav ul li{
    display: inline-block;
    padding: 5px 0;
}
nav ul li a{
    margin: 0 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
    color: #3b3c3d;
    text-transform: uppercase;
}
nav ul li a:hover{
    color: #2da0f9;
}
.block-fone{
    background-color: #81e4ed;
    width: 100%;
}
.promo{
    position: relative;
    padding: 19px 0 32px;
}

.promo p{
    font-size: 50px;
    color: white;
    display: block;
    width: 300px;
    position: absolute;
    top: 111px;
    left: 63px;
    line-height: 1.2;
}
.item-fone{
    background-color: #e8ebf1;
    width: 100%;
}
.boxes{
    padding: 55px 0 30px;
}
.circle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    float: left;

}
.item-1{
    background: url(../img/pencil.png) no-repeat 10px 5px #2aacc8;
}
.item-2{
    background: url(../img/full_screen.png) no-repeat 9px 10px #2aacc8;
}
.item-3{
    background: url(../img/view_list.png) no-repeat 11px 10px #2aacc8;

}
.item-4{
    background: url(../img/plane.png) no-repeat 9px 8px #2aacc8;
}
.head{
    position: relative;
}
h5{
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 0 0 50px;
}
h4 a{
    display: block;
    padding: 17px 0;
    color: #8ac7d9;
    text-decoration: none;
    font-weight: normal;
}
.box p{
    font-size: 13px;
    margin: 0 20px 0 0;
    padding: 18px 0 16px;
}
.box{
    display: inline-block;
    width: 24.6%;
}
.box a{
    text-decoration: none;
    color: #000;
}
.head {
    overflow: hidden;
}
h2{
    border-bottom: 1px solid #dfe1e5;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 20px 0;
}
h2::before{
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../img/cursor.png") 0 0  no-repeat;
    padding: 5px 18px 0 0;
}
.content-image{
    padding: 5px 0;
}
.btn-1:before {
    display: inline-block;
    padding: 15px 25px;
    content: '';
    vertical-align: middle;
    background: url(../img/download.png) 0 0 no-repeat;
}
.btn-1 {
    font-size: 18px;
    font-weight: bold;
    padding: 18px 23px 13px 13px;
    text-decoration: none;
    color: black;
    border: 0.1px solid #2da0f9;
    border-radius: 5px;
    background:linear-gradient(to bottom, rgba(45,160,249,1) 0%,rgba(0,115,204,1) 100%);
}
.download{
    text-align: center;
    padding: 20px 0 12px;
    border-bottom: 1px solid #dfe1e5;
}
.btn-1{
    text-transform: uppercase;
}
h2.another-icon::before{
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../img/comments.png") 0 0  no-repeat;
    padding: 5px 18px 0 0;
}
h2.another-icon{
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 20px 0;
}
.text-block p{
    color: #5e5e5e;
    font-size: 14px;
    line-height: 1.5;
    font-weight: normal;
    padding: 10px 0;
}
i{
    font-size: 15px;
    font-weight: bold;
    padding: 20px 0;
    display: block;
}
footer p{
    display: block;
    color: #5e5e5e;
    font-size: 14px;
    font-weight: normal;
    padding: 30px 320px 30px 0;
}


footer{
    background: #dfe1e5;
}
