

.town-block{
    width: 550px;
    height: 600px;
    padding: 100px;
    background: darkblue;
    position: relative;
    overflow: hidden;
}
.moon{
    z-index: 1;
    position: absolute;
    top: 40px;
    right: 20px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: rgba(142, 140, 140, 1);
    -webkit-animation: blesk 10s linear infinite alternate;
    animation: blesk 10s linear infinite alternate;
}
.cloud{
    z-index: 500;
    position: absolute;
    top: 138px;
    right: 116px;
    width: 235px;
    height: 100px;
    border-radius: 50%;
    background: rgba(61, 61, 63, .99);
    -webkit-animation: run_cloud 40s linear infinite alternate;
    animation: run_cloud 40s linear infinite alternate;
}
.cloud-1{
    position: absolute;
    top: 42px;
    right: 143px;
    width: 135px;
    height: 50px;
    border-radius: 50%;
    background: rgba(61, 61, 63, .99);
}
.cloud-2{
    position: absolute;
    top: 28px;
    right: -69px;
    width: 155px;
    height: 50px;
    border-radius: 50%;
    background: rgba(61, 61, 63, .99);
}
.cloud-3{
    position: absolute;
    top: -25px;
    right: -112px;
    width: 205px;
    height: 80px;
    border-radius: 50%;
    background: rgba(61, 61, 63, .9);
}
.cloud-4{
    position: absolute;
    top: 0px;
    right: -200px;
    width: 262px;
    height: 66px;
    border-radius: 50%;
    background: rgba(61, 61, 63, .9);
}
.star{
    width: 2px;
    height: 2px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    opacity: .8;
    -webkit-animation: shine 2s linear infinite alternate;
    animation: shine 2s linear infinite alternate;
}
.star-1{top: 50px; left: 200px; -webkit-animation-duration: .7s; animation-duration: .7s ;}
.star-2{top: 50px; left: 250px; -webkit-animation-duration: 1s; animation-duration: 1s;   }
.star-3{top: 70px; left: 300px; -webkit-animation-duration: 1.5s;animation-duration: 1.5s;}
.star-4{top: 20px; left: 350px; -webkit-animation-duration: 1.2s; animation-duration: 1.2s;}
.star-5{top: 40px; left: 50px; -webkit-animation-duration: 4s; animation-duration: 4s;}
.star-6{top: 10px; left: 120px; -webkit-animation-duration: 2.5s; animation-duration: 2.5s;}
.star-7{top: 25px; left: 190px; -webkit-animation-duration: 2s; animation-duration: 2s;}
.star-8{top: 35px; left: 380px; -webkit-animation-duration: 0.5s; animation-duration: 0.5s;}
.star-9{top: 50px; left: 200px; -webkit-animation-duration: .7s; animation-duration: 1.7s ;}
.star-10{top: 65px; left: 450px; -webkit-animation-duration: 1s; animation-duration: 1.4s;   }
.star-11{top: 170px; left: 500px; -webkit-animation-duration: 1.5s;animation-duration: 3.5s;}
.star-12{top: 150px; left: 550px; -webkit-animation-duration: 1.2s; animation-duration: 2.2s;}
.star-13{top: 140px; left: 380px; -webkit-animation-duration: 4s; animation-duration: 4s;}
.star-14{top: 110px; left: 400px; -webkit-animation-duration: 2.5s; animation-duration: 4.5s;}
.star-15{top: 250px; left: 430px; -webkit-animation-duration: 2s; animation-duration: 2.2s;}
.star-16{top: 15px; left: 580px; -webkit-animation-duration: 0.5s; animation-duration: .5s;}
.star-17{top: 10px; left: 420px; -webkit-animation-duration: 0.5s; animation-duration: 1.2s;}
.star-18{top: 35px; left: 650px; -webkit-animation-duration: 0.5s; animation-duration: 2.7s;}
.star-19{top: 17px; left: 490px; -webkit-animation-duration: 0.5s; animation-duration: .8s;}
.star-20{top: 15px; left: 370px; -webkit-animation-duration: 0.5s; animation-duration: 1.9s;}

.house-1{
    width: 150px;
    height: 300px;
    background: #000;
    position: absolute;
    bottom: 0;
    left: 50px;
    border-right: 10px solid #655e5f;
    border-top: 4px solid #6b7366;
    z-index: 1000;
}
.center-h-1{
    width: 90%;
    height: 100%;
    position: relative;
}
.window {
    width: 60px;
    height: 40px;
    background: rgba(141,134,35,.7);
    position: absolute;
    top: 10px;
    right: 0;
}
.w1-h-2{
    background: rgba(141,134,35,.8);
    -webkit-box-shadow: 0 0 10px rgba(141,134,35,.8);
    box-shadow: 0 0 10px rgba(141,134,35,.8);
}
.w1-h-1{
    top: 10px;
    right: 0;
    background: rgba(141,134,35,.1);
}
.dark-win-1{
    width: 30px;
    height: 40px;
    border-right: 1px solid black;
    background: rgba(141,134,35,.1);;
    float: left;
}
.dark-win-2{
    width: 30px;
    height: 40px;
    border-left: 1px solid black;
    background: rgba(141,134,35,1);
    float: right;
}
.w2-h-1{
    top: 70px;
    right: 0;
    -webkit-box-shadow: 0 0 10px rgba(141,134,35,.8);
    box-shadow: 0 0 10px rgba(141,134,35,.8);
}
.w2-h-1:before{
    content: '\263B';
    width: 5px;
    height: 5px;
    top: 25px;
    right: 20px;
    position: absolute;
    -webkit-animation: face 5s linear infinite alternate;
    animation: face 5s linear infinite alternate;
}
.dark-win-2{
    float: right;
    background: rgba(141,134,35,.2);
}
.w3-h-1{
    top: 130px;
    right: 0;
    -webkit-box-shadow: 0 0 10px rgba(141,134,35,.8);
    box-shadow: 0 0 10px rgba(141,134,35,.8);
}
.w4-h-1{
    top: 190px;
    right: 0;
    background: rgba(141,134,35,.1)
}
.dark-win-3{
    width: 30px;
    height: 40px;
    border-left: 1px solid black;
    background: rgba(141,134,35,.1);
    float: right;
}
.w5-h-1{
    top: 250px;
    right: 0;
    background: rgba(141,134,35,.9);
    -webkit-box-shadow: 0 0 10px rgba(141,134,35,.9);
    box-shadow: 0 0 10px rgba(141,134,35,.9);
}

.house-2{
    width: 200px;
    height: 340px;
    background: #000;
    position: absolute;
    bottom: 0;
    left: 350px;
    border-right: 12px solid #655e5f;
    border-top: 5px solid #6b7366;
    z-index: 100;
}
.center-h-2{
    width: 90%;
    height: 100%;
    position: relative;
}
.w6-h-1{
    top: 130px;
    right: 0;
    background: rgba(141,134,35,.1)
}
.w1-h-2{
    top: 10px;
    right: 0;
    background: rgba(141,134,35,.1)
}
.w7-h-2{
    top: 310px;
    right: 0;
    background: rgba(141,134,35,.1)
}
.window-right{
    width: 60px;
    height: 40px;
    background: rgba(141,134,35,.7);
    position: absolute;
    top: 10px;
    left: 10px;
}
.w2-h-8{
    top: 70px;
    right: 0;
    background: rgba(141,134,35,.1)
}
.w2-h-9{
    top: 130px;
    right: 0;
    background: rgba(141,134,35,.1);
    position: relative;
}
.w2-h-9:before{
    content: '\260E';
    width: 5px;
    height: 5px;
    top: 25px;
    right: 20px;
    position: absolute;
}
.w2-h-10{
    top: 190px;
    right: 0;
    background: rgba(141,134,35,.1)
}
.w2-h-11{
    top: 250px;
    right: 0;
    background: rgba(141,134,35,.9);
    -webkit-box-shadow: 0 0 10px rgba(141,134,35,.9);
    box-shadow: 0 0 10px rgba(141,134,35,.9);
}
.w2-h-12{
    top: 310px;
    right: 0;
    background: rgba(141,134,35,.9);
    -webkit-box-shadow: 0 0 10px rgba(141,134,35,.9);
    box-shadow: 0 0 10px rgba(141,134,35,.9);
}
.house-3{
    width: 120px;
    height: 350px;
    background: #000;
    position: absolute;
    bottom: 0;
    left: 160px;
    border-right: 7px solid #655e5f;
    border-top: 3px solid #6b7366;
    z-index: 1;
}
.center-h-3{
    position: relative;
    width: 90%;
    height: 100%;

}
.small-window{
    width: 40px;
    height: 25px;
    background: rgba(141,134,35,.7);
    position: absolute;

}
.w1-h-3{
    top: 10px;
    right: 0;
    background: rgba(141,134,35,.1);
}
.w2-h-3{
    top: 50px;
    right: 0;
    -webkit-box-shadow: 0 0 10px rgba(141,134,35,.9);
    box-shadow: 0 0 10px rgba(141,134,35,.9);
}
.w3-h-3{
    top: 90px;
    right: 0;
    -webkit-box-shadow: 0 0 10px rgba(141,134,35,.9);
    box-shadow: 0 0 10px rgba(141,134,35,.9);
}
.w4-h-3{
    top: 130px;
    right: 0;
    background: rgba(141,134,35,.1);
}
.w5-h-3{
    top: 170px;
    right: 0;
    background: rgba(141,134,35,.1);
}
.w6-h-3{
    top: 210px;
    right: 0;
    -webkit-box-shadow: 0 0 10px rgba(141,134,35,.9);
    box-shadow: 0 0 10px rgba(141,134,35,.9);
}
.w7-h-3{
    top: 250px;
    right: 0;
    background: rgba(141,134,35,.1);
}
.w8-h-3{
    top: 290px;
    right: 0;
    -webkit-box-shadow: 0 0 10px rgba(141,134,35,.8);
    box-shadow: 0 0 10px rgba(141,134,35,.8);
}
.w9-h-3{
    top: 330px;
    right: 0;
    -webkit-box-shadow: 0 0 10px rgba(141,134,35,.8);
    box-shadow: 0 0 10px rgba(141,134,35,.8);
}
.w10-h-3{
    top: 10px;
    right: 60px;
    -webkit-box-shadow: 0 0 10px rgba(141,134,35,.8);
    box-shadow: 0 0 10px rgba(141,134,35,.8);
}
.house-4{
    width: 250px;
    height: 400px;
    background: #000;
    position: absolute;
    bottom: 0;
    left: 500px;
    border-right: 10px solid #655e5f;
    border-top: 4px solid #6b7366;
    z-index: 1;
}
.center-h-4{
    width: 90%;
    height: 100%;
    position: relative;
}
.house-4-penthouse{
    width: 200px;
    height: 70px;
    background: #000;
    position: absolute;
    bottom: 404px;
    left: 41px;
    border-right: 10px solid #655e5f;
    border-top: 4px solid #6b7366;
    z-index: 200;
}
.house-4-penthouse-2{
    width: 100px;
    height: 50px;
    background: #000;
    position: absolute;
    bottom: 477px;
    left: 90px;
    border-right: 10px solid #655e5f;
    border-top: 4px solid #6b7366;
    z-index: 200;
}
.house-4-up{
    width: 10px;
    height: 50px;
    background: #000;
    position: absolute;
    bottom: 531px;
    left: 137px;
    border-right: 1px solid #655e5f;
}
.circle{
    width: 25px;
    height: 16px;
    border-radius: 50%;
    background: #000;
    position: absolute;
    bottom: 576px;
    left: 129px;
}
.w1-hp-4 {
    top: 10px;
    right: 10px;
    background: rgba(141,134,35,.3);
    -webkit-box-shadow: 0 0 10px rgba(141,134,35,.3);
    box-shadow: 0 0 10px rgba(141,134,35,.3);
}
.w2-hp-4 {
    top: 28px;
    right: 10px;
    background: rgba(141,134,35,.5);
    -webkit-box-shadow: 0 0 10px rgba(141,134,35,.5);
    box-shadow: 0 0 10px rgba(141,134,35,.5);
}
.w3-hp-4 {
    top: 28px;
    right: 70px;
    background: rgba(141,134,35,.2);
    -webkit-box-shadow: 0 0 10px rgba(141,134,35,.2);
    box-shadow: 0 0 10px rgba(141,134,35,.2);
}
.w4-hp-4 {
    top: 28px;
    right: 145px;
    background: rgba(141,134,35,.7);
    -webkit-box-shadow: 0 0 10px rgba(141,134,35,.7);
    box-shadow: 0 0 10px rgba(141,134,35,.7);
}
.w1-h-4{
    top: 10px;
    right: 0;
    background: rgba(141,134,35,.1);
}
.w2-h-4{
    top: 50px;
    right: 0;
    background: rgba(141,134,35,.1);
}
.w3-h-4{
    top: 90px;
    right: 0;
    background: rgba(141,134,35,.8);
    -webkit-box-shadow: 0 0 10px rgba(141,134,35,.8);
    box-shadow: 0 0 10px rgba(141,134,35,.8);
}
.w4-h-4{
    top: 130px;
    right: 0;
    background: rgba(141,134,35,.6);
    -webkit-box-shadow: 0 0 10px rgba(141,134,35,.6);
    box-shadow: 0 0 10px rgba(141,134,35,.6);
}
.w5-h-4{
    top: 170px;
    right: 0;
    background: rgba(141,134,35,.6);
    -webkit-box-shadow: 0 0 10px rgba(141,134,35,.6);
    box-shadow: 0 0 10px rgba(141,134,35,.6);
}
.w6-h-4{
    top: 210px;
    right: 0;
    background: rgba(141,134,35,.1);
}
.w7-h-4{
    top: 250px;
    right: 0;
    background: rgba(141,134,35,.1);
}
.w8-h-4{
    top: 290px;
    right: 0;
    background: rgba(141,134,35,.8);
    -webkit-box-shadow: 0 0 10px rgba(141,134,35,.8);
    box-shadow: 0 0 10px rgba(141,134,35,.8);
}
.w9-h-4{
    top: 330px;
    right: 0;
    background: rgba(141,134,35,.4);
    -webkit-box-shadow: 0 0 10px rgba(141,134,35,.4);
    box-shadow: 0 0 10px rgba(141,134,35,.4);
}
.w10-h-4{
    top: 370px;
    right: 0;
    background: rgba(141,134,35,.1);
}
.w11-h-4{
    top: 10px;
    right: 80px;
    background: rgba(141,134,35,.1);
}
.w12-h-4{
    top: 50px;
    right: 80px;
    background: rgba(141,134,35,.8);
    -webkit-box-shadow: 0 0 10px rgba(141,134,35,.8);
    box-shadow: 0 0 10px rgba(141,134,35,.8);
}
.w13-h-4{
    top: 90px;
    right: 80px;
    background: rgba(141,134,35,.5);
    -webkit-box-shadow: 0 0 10px rgba(141,134,35,.5);
    box-shadow: 0 0 10px rgba(141,134,35,.5);
}
.w14-h-4{
    top: 130px;
    right: 80px;
    background: rgba(141,134,35,.1);
}
.w15-h-4{
    top: 170px;
    right: 80px;
    background: rgba(141,134,35,.8);
    -webkit-box-shadow: 0 0 10px rgba(141,134,35,.8);
    box-shadow: 0 0 10px rgba(141,134,35,.8);
}
.w16-h-4{
    top: 210px;
    right: 80px;
    background: rgba(141,134,35,.8);
    -webkit-box-shadow: 0 0 10px rgba(141,134,35,.8);
    box-shadow: 0 0 10px rgba(141,134,35,.8);
}
.w17-h-4{
    top: 370px;
    right: 80px;
    background: rgba(141,134,35,.1);
}
.w18-h-4{
    top: 250px;
    right: 80px;
    background: rgba(141,134,35,.2);
}
.w19-h-4{
    top: 330px;
    right: 80px;
    background: rgba(141,134,35,.2);
}
.w20-h-4{
    top: 290px;
    right: 80px;
    background: rgba(141,134,35,.1);
}
.w21-h-4{
    top: 10px;
    right: 150px;
    background: rgba(141,134,35,1);
    -webkit-box-shadow: 0 0 10px rgba(141,134,35,.8);
    box-shadow: 0 0 10px rgba(141,134,35,.8);
}
.meteors {
    position: absolute;
    width: 100%;
    height: 100%;
}
.meteor {
    position: absolute;
    top: 50px;
    left: 280px;
    width: 300px;
    height: 1px;
    -webkit-transform: rotate(-45deg);
    background-image: -webkit-linear-gradient(left, white, rgba(255,255,255,0));
}
.meteor:before {
    content: ' ';
    position: absolute;
    width: 4px;
    height: 5px;
    background-color: white;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 14px 4px white;
    box-shadow: 0 0 14px 4px white;
    margin-top: -2px;
}
@-webkit-keyframes meteor {
    0% {margin-top: -300px; margin-right: -300px; opacity: 1}
    15% {opacity: 0}
    20% {margin-top: 300px; margin-left: -600px; opacity: 0}
    100% {opacity: 0}
}
.meteor {top: 100px;left: 480px;-webkit-animation: meteor 4s linear infinite;}
.meteor:nth-child(1) {top: 300px;left: 480px;-webkit-animation: meteor 5s linear infinite;}
.meteor:nth-child(2) {top: 200px;left: 280px;-webkit-animation: meteor 6s linear infinite;}
.meteor:nth-child(3) {top: 250px;left: 590px;-webkit-animation: meteor 7s linear infinite;}

@-webkit-keyframes blesk{
    0% { -webkit-box-shadow: 0 0 25px 10px rgba(255, 255, 255, .3), 0 0 21px 10px rgba(0, 0, 0, .1 ) inset; box-shadow: 0 0 25px 10px rgba(255, 255, 255, .3), 0 0 21px 10px rgba(0, 0, 0, .1 ) inset;
    ; }
    100% { -webkit-box-shadow: 0 0 25px 10px rgba(255, 255, 255, .6), 0 0 21px 10px rgba(0, 0, 0,.15 ) inset; box-shadow: 0 0 25px 10px rgba(255, 255, 255, .6), 0 0 21px 10px rgba(0, 0, 0,.15 ) inset;
    ; }
}

@keyframes blesk{
    0% { -webkit-box-shadow: 0 0 25px 10px rgba(255, 255, 255, .3), 0 0 21px 10px rgba(0, 0, 0, .1 ) inset; box-shadow: 0 0 25px 10px rgba(255, 255, 255, .3), 0 0 21px 10px rgba(0, 0, 0, .1 ) inset;
    ; }
    100% { -webkit-box-shadow: 0 0 25px 10px rgba(255, 255, 255, .6), 0 0 21px 10px rgba(0, 0, 0,.15 ) inset; box-shadow: 0 0 25px 10px rgba(255, 255, 255, .6), 0 0 21px 10px rgba(0, 0, 0,.15 ) inset;
    ; }
}
