.town-block{
    width: 550px;
    height: 600px;
    padding: 100px;
    background: darkblue;
    position: relative;
    overflow: hidden;
}
.star{
    width: 2px;
    height: 2px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    opacity: .8;
    -webkit-animation: shine 2s linear infinite alternate;
    animation: shine 2s linear infinite alternate;
}
.star-1{top: 50px; left: 200px; -webkit-animation-duration: .7s; animation-duration: .7s ;}
.star-2{top: 50px; left: 250px; -webkit-animation-duration: 1s; animation-duration: 1s;   }
.star-3{top: 70px; left: 300px; -webkit-animation-duration: 1.5s;animation-duration: 1.5s;}
.star-4{top: 20px; left: 350px; -webkit-animation-duration: 1.2s; animation-duration: 1.2s;}
.star-5{top: 40px; left: 50px; -webkit-animation-duration: 4s; animation-duration: 4s;}
.star-6{top: 10px; left: 120px; -webkit-animation-duration: 2.5s; animation-duration: 2.5s;}
.star-7{top: 25px; left: 190px; -webkit-animation-duration: 2s; animation-duration: 2s;}
.star-8{top: 35px; left: 380px; -webkit-animation-duration: 0.5s; animation-duration: 0.5s;}
.star-9{top: 50px; left: 200px; -webkit-animation-duration: .7s; animation-duration: 1.7s ;}
.star-10{top: 65px; left: 450px; -webkit-animation-duration: 1s; animation-duration: 1.4s;   }
.star-11{top: 170px; left: 500px; -webkit-animation-duration: 1.5s;animation-duration: 3.5s;}
.star-12{top: 150px; left: 550px; -webkit-animation-duration: 1.2s; animation-duration: 2.2s;}
.star-13{top: 140px; left: 380px; -webkit-animation-duration: 4s; animation-duration: 4s;}
.star-14{top: 110px; left: 400px; -webkit-animation-duration: 2.5s; animation-duration: 4.5s;}
.star-15{top: 250px; left: 430px; -webkit-animation-duration: 2s; animation-duration: 2.2s;}
.star-16{top: 15px; left: 580px; -webkit-animation-duration: 0.5s; animation-duration: .5s;}
.star-17{top: 10px; left: 420px; -webkit-animation-duration: 0.5s; animation-duration: 1.2s;}
.star-18{top: 35px; left: 650px; -webkit-animation-duration: 0.5s; animation-duration: 2.7s;}
.star-19{top: 17px; left: 490px; -webkit-animation-duration: 0.5s; animation-duration: .8s;}
.star-20{top: 15px; left: 370px; -webkit-animation-duration: 0.5s; animation-duration: 1.9s;}

.moon{
    z-index: 1;
    position: absolute;
    top: 40px;
    right: 20px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: rgba(142, 140, 140, 1);
    -webkit-animation: blesk 10s linear infinite alternate;
    animation: blesk 10s linear infinite alternate;
}
.cloud{
    z-index: 500;
    position: absolute;
    top: 138px;
    right: 116px;
    width: 235px;
    height: 100px;
    border-radius: 50%;
    background: rgba(61, 61, 63, .99);
    -webkit-animation: run_cloud 40s linear infinite alternate;
    animation: run_cloud 40s linear infinite alternate;
}
.cloud-1{
    position: absolute;
    top: 42px;
    right: 143px;
    width: 135px;
    height: 50px;
    border-radius: 50%;
    background: rgba(61, 61, 63, .99);
}
.cloud-2{
    position: absolute;
    top: 28px;
    right: -69px;
    width: 155px;
    height: 50px;
    border-radius: 50%;
    background: rgba(61, 61, 63, .99);
}
.cloud-3{
    position: absolute;
    top: -25px;
    right: -112px;
    width: 205px;
    height: 80px;
    border-radius: 50%;
    background: rgba(61, 61, 63, .9);
}
.cloud-4{
    position: absolute;
    top: 0;
    right: -200px;
    width: 262px;
    height: 66px;
    border-radius: 50%;
    background: rgba(61, 61, 63, .9);
}
.house-1{
    width: 150px;
    height: 300px;
    background: #000;
    position: absolute;
    bottom: 0;
    left: 50px;
    border-right: 10px solid #655e5f;
    border-top: 4px solid #6b7366;
    z-index: 1000;
}
.center-h-1{
    width: 90%;
    height: 100%;
    position: relative;
}
.window {
    width: 60px;
    height: 40px;
    background: rgba(141,134,35,.7);
    position: absolute;
    top: 10px;
    right: 0;
}
.w1-h-2{
    background: rgba(141,134,35,.8);
    -webkit-box-shadow: 0 0 10px rgba(141,134,35,.8);
    box-shadow: 0 0 10px rgba(141,134,35,.8);
}
.w1-h-1{
    top: 10px;
    right: 0;
    background: rgba(141,134,35,.1);
}
.dark-win-1{
    width: 30px;
    height: 40px;
    border-right: 1px solid black;
    background: rgba(141,134,35,.1);;
    float: left;
}
.dark-win-2{
    width: 30px;
    height: 40px;
    border-left: 1px solid black;
    background: rgba(141,134,35,1);
    float: right;
}
.w2-h-1{
    top: 70px;
    right: 0;
    -webkit-box-shadow: 0 0 10px rgba(141,134,35,.8);
    box-shadow: 0 0 10px rgba(141,134,35,.8);
}
.w2-h-1:before{
    content: '\263B';
    width: 5px;
    height: 5px;
    top: 25px;
    right: 20px;
    position: absolute;
    -webkit-animation: face 5s linear infinite alternate;
    animation: face 5s linear infinite alternate;
}
.dark-win-2{
    float: right;
    background: rgba(141,134,35,.2);
}
.w3-h-1{
    top: 130px;
    right: 0;
    -webkit-box-shadow: 0 0 10px rgba(141,134,35,.8);
    box-shadow: 0 0 10px rgba(141,134,35,.8);
}
.w4-h-1{
    top: 190px;
    right: 0;
    background: rgba(141,134,35,.1)
}
.dark-win-3{
    width: 30px;
    height: 40px;
    border-left: 1px solid black;
    background: rgba(141,134,35,.1);
    float: right;
}
.w5-h-1{
    top: 250px;
    right: 0;
    background: rgba(141,134,35,.9);
    -webkit-box-shadow: 0 0 10px rgba(141,134,35,.9);
    box-shadow: 0 0 10px rgba(141,134,35,.9);
}
.house-2{
    width: 200px;
    height: 340px;
    background: #000;
    position: absolute;
    bottom: 0;
    left: 350px;
    border-right: 12px solid #655e5f;
    border-top: 5px solid #6b7366;
    z-index: 100;
}
.center-h-2{
    width: 90%;
    height: 100%;
    position: relative;
}
.w6-h-1{
    top: 130px;
    right: 0;
    background: rgba(141,134,35,.1)
}
.w1-h-2{
    top: 10px;
    right: 0;
    background: rgba(141,134,35,.1)
}
.w7-h-2{
    top: 310px;
    right: 0;
    background: rgba(141,134,35,.1)
}
.window-right{
    width: 60px;
    height: 40px;
    background: rgba(141,134,35,.7);
    position: absolute;
    top: 10px;
    left: 10px;
}
.w2-h-8{
    top: 70px;
    right: 0;
    background: rgba(141,134,35,.1)
}
.w2-h-9{
    top: 130px;
    right: 0;
    background: rgba(141,134,35,.1);
    position: relative;
}
.w2-h-9:before{
    content: '\260E';
    width: 5px;
    height: 5px;
    top: 25px;
    right: 20px;
    position: absolute;
}
.w2-h-10{
    top: 190px;
    right: 0;
    background: rgba(141,134,35,.1)
}
.w2-h-11{
    top: 250px;
    right: 0;
    background: rgba(141,134,35,.9);
    -webkit-box-shadow: 0 0 10px rgba(141,134,35,.9);
    box-shadow: 0 0 10px rgba(141,134,35,.9);
}
.w2-h-12{
    top: 310px;
    right: 0;
    background: rgba(141,134,35,.9);
    -webkit-box-shadow: 0 0 10px rgba(141,134,35,.9);
    box-shadow: 0 0 10px rgba(141,134,35,.9);
}
.house-3{
    width: 120px;
    height: 350px;
    background: #000;
    position: absolute;
    bottom: 0;
    left: 160px;
    border-right: 7px solid #655e5f;
    border-top: 3px solid #6b7366;
    z-index: 1;
}
.center-h-3{
    position: relative;
    width: 90%;
    height: 100%;
}
.small-window{
    width: 40px;
    height: 25px;
    background: rgba(141,134,35,.7);
    position: absolute;
}
.w1-h-3{
    top: 10px;
    right: 0;
    background: rgba(141,134,35,.1);
}
.w2-h-3{
    top: 50px;
    right: 0;
    -webkit-box-shadow: 0 0 10px rgba(141,134,35,.9);
    box-shadow: 0 0 10px rgba(141,134,35,.9);
}
.w3-h-3{
    top: 90px;
    right: 0;
    -webkit-box-shadow: 0 0 10px rgba(141,134,35,.9);
    box-shadow: 0 0 10px rgba(141,134,35,.9);
}
.w4-h-3{
    top: 130px;
    right: 0;
    background: rgba(141,134,35,.1);
}
.w5-h-3{
    top: 170px;
    right: 0;
    background: rgba(141,134,35,.1);
}
.w6-h-3{
    top: 210px;
    right: 0;
    -webkit-box-shadow: 0 0 10px rgba(141,134,35,.9);
    box-shadow: 0 0 10px rgba(141,134,35,.9);
}
.w7-h-3{
    top: 250px;
    right: 0;
    background: rgba(141,134,35,.1);
}
.w8-h-3{
    top: 290px;
    right: 0;
    -webkit-box-shadow: 0 0 10px rgba(141,134,35,.8);
    box-shadow: 0 0 10px rgba(141,134,35,.8);
}
.w9-h-3{
    top: 330px;
    right: 0;
    -webkit-box-shadow: 0 0 10px rgba(141,134,35,.8);
    box-shadow: 0 0 10px rgba(141,134,35,.8);
}
.w10-h-3{
    top: 10px;
    right: 60px;
    -webkit-box-shadow: 0 0 10px rgba(141,134,35,.8);
    box-shadow: 0 0 10px rgba(141,134,35,.8);
}
.house-4{
    width: 250px;
    height: 400px;
    background: #000;
    position: absolute;
    bottom: 0;
    left: 500px;
    border-right: 10px solid #655e5f;
    border-top: 4px solid #6b7366;
    z-index: 1;
}
.center-h-4{
    width: 90%;
    height: 100%;
    position: relative;
}