body{
    font-family: arial, sans-serif;
    color: #000;
    background: #a2ca28;
    font-size: 16px;
    line-height: 1.3;
    min-width: 930px;
    margin: 0;
}
.container{
    width: 930px;
    margin: 0 auto;
}
header{
    background-color: #2e3b4e;
    width: 100%;
    overflow: hidden;
}
.logo{
    width: 930px;
    float: left;
    padding: 10px;
}
nav{
    float: right;
}
nav ul{
    list-style: none;
}
nav ul li{
    display: inline-block;
}
nav ul li a{
    margin: 0 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
    color: white;
}
.fitness{
    padding-top: 50px;
}
h1{
    color: #fff;
    font-size: 32px;
    font-weight: normal;
}
.boxes{
}
.box-1{
    vertical-align: top;
    display: inline-block;
    width: 33%;
    vertical-align: top;
}
.box-2{
    width: 33%;
    vertical-align: top;
    display: inline-block;
}
.box-3{
    width: 33%;
    vertical-align: top;
    display: inline-block;
}
h3{
    color: #fff;
    font-size: 24px;
    font-weight: normal;
}
h4 a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: normal;
}
p{
    color: #fff;
    font-size: 14px;
    font-weight: normal;
}
.content-block{
    margin: 80px 0;
}
.block-1{
    background-color: white;
    display: table-cell;
    width: 40%;
}
.block-2{
    background-color: #96bb25;
    display: table-cell;
}
.track-your{
    color: #fd715f;
    font-weight: normal;
    font-size: 18px;
}
.lifestyle{
    color: #a2ca28;
}
.black-text{
    line-height: 2;
    color: black;
}
.text{
    margin: 45px;
}
footer{
    overflow: hidden;
    background-color: #0d1119;
}
footer h4{
    font-size: 18px;
    color: white;
}
.about{
    float: left;
    width: 50%;
    margin: 100px 0;

}
.social{
    float: right;
    margin: 100px 0;
}
.about-items{
}
.about-item {
    width: 52px;
    height: 52px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 50%;
    margin-bottom: 10px;
}
.item-1 {
    background-image: url(../img/facebook.png);
    background-color: #2e3192;
}
.item-2 {
    background-image: url(../img/twitter.png);
    background-color: #00aeef;
}
.item-3 {
    background-image: url(../img/youtube.png);
    background-color: #ed3123;
}
.item-4 {
    background-image: url(../img/in.png);
    background-color: #171a8f;
}