body{
    font-family:  "PT Sans", sans-serif;
    color: #000;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 1.2;
    min-width: 930px;
    margin: 0;
}
.container {
    width: 980px;
    margin: 0 auto;
}
header {
    width: 100%;
    overflow: hidden;
    padding-bottom: 70px;
}
.items {
    display: flex;
}
.logo {
    padding-top: 10px;
    display: inline-block;
    flex-basis: 45%;
}
nav {
    display: inline-block;
    flex-basis: 65%;

}
nav ul li {
    display: inline-block;
    padding: 12px 22px;
}
nav ul li:last-child {
    padding-right: 0;
}
.fa-home {
    font-size: 12px;
    color: #45f442;
}
nav ul li a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
}
nav ul li a:hover {
    color: #45f442;
}
.form-screen {
    width: 1280px;
    margin: 0 auto;
    background: url("../images/background.png") 0 100% no-repeat;
    padding-bottom: 70px;
}
.block-with-form {
    width: 40%;
    padding-top: 70px;
}
h3 {
    font-family: 'PT Serif', serif;
    font-size: 40px;
    padding-bottom: 18px;
}
.bold-content-text {
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
}
.before-form {
    font-size: 16px;
    letter-spacing: normal;
    padding-top: 35px;
    padding-bottom: 10px;
}
.box-for-form {
    display: inline-block;
}
input {
    display: block;
    padding: 10px;
    font-size: 16px;
    width: 230px;
}
.btn-1{
    display: inline-block;
}
button {
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    border: none;
    background: #45f442;
    padding: 10px;
}
.fresh-screen {
    padding-top: 80px;
}
.fresh-box {
    border-left: solid 5px #45f442;
    padding-left: 20px;
}
.fresh-box h3 {
    padding: 0;
}
.fresh-text {
    font-size: 16px;
    letter-spacing: normal;
}
.item-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 55px;
}
.item {
    width: 31%;
}
.item img {
    width: 100%;
    border-radius: 5px;
    border: solid 4px #eff2f7;
}
.after-image {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 0 50px 10px;
}
.fa-chevron-circle-right {
    font-size: 35px;
    color: #45f442;
    padding-right: 10px;
}
.button-center {
    text-align: center;
    padding-bottom: 150px;
}
.btn-center {
    padding: 12px 15px 12px 15px;
}
.fa-angle-right {
    font-size: 20px;
    padding: 0 0 0 15px;
}
.after-fresh-box {
    background-color: #c9c9c9;
    margin-bottom: 150px;
}
.quotes {
    display: inline-block;
}
.my-quotes {
    padding: 10px;
    font-size: 20px;
    color: #fff;
    background-color: #45f442;
    border-radius: 50%;
}
h4 {
    display: inline-block;
    font-size: 25px;
    padding: 43px 10px;
    width: 83%;
    text-align: center;
}
.fa-quote-left {
    vertical-align: bottom;
    margin-right: 10px;
}
.fa-quote-right {
    margin-left: 10px;
}
.news-screen {
    padding-top: 70px;
    padding-bottom: 70px;
}
.for-image {
    display: inline-block;
    padding-right: 10px;
    width: 28%;
}
.for-content {
    vertical-align: top;
    width: 70%;
    display: inline-block;
}
h5 {
    font-family: 'PT Serif', serif;
    font-size: 27px;
}
.small-text {
    font-size: 14px;
    opacity: .5;
    padding: 5px 0 35px 0;
}
.fa-circle {
    vertical-align: middle;
    font-size: 5px;
    color: #45f442;
    padding: 0 10px;
}
.for-content .fresh-text .fa-chevron-right {
    color: #000000;
    background-color: transparent;
    border: solid 2px #000;
    border-radius: 50%;
    padding: 2px 5px;
    margin-right: 10px;
}
.for-content .fresh-text {
    padding-bottom: 20px;
}
.for-content .fresh-text a{
    text-decoration: none;
    color: #000;
}
.shop-screen {
    background-color: #333333;
    padding-bottom: 30px;
}
h6 {
    font-family: 'PT Serif', serif;
    padding: 50px 0 25px 0;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}
.shop-item img {
    padding-right: 20px;
}
.shop-item {
    width: 49%;
}
.shop-item .for-content {
    width: 55%;
    padding-bottom: 10px;
}
.shop-item .for-content p {
    color: #fff;
    padding: 0;
}
#pb {
    padding-bottom: 18px; !important;
}
.text-box {
    padding-left: 25px;
}
.fa-twitter {
    float: left;
}
.content-box {
    width: 80%;
    color: #ffffff;
}
.footer-item {
    display: inline-block;
    width: 32%;
}
.navigation-block nav ul li {
    padding: 20px 15px 20px 0;
    text-transform: capitalize;
}
.social-block {
    padding-top: 10px;
    text-align: center;
}
.social-item {
    display: inline-block;
    text-align: center;
}
.social-item .my-fa {
    color: #fff;
    background-color: #333333;
    border: solid 2px #333333;
    border-radius: 50%;
    padding: 10px;
    margin-right: 10px;
    float: none;
}
.fa-facebook-f {
    color: #fff;
    background-color: #333333;
    border: solid 2px #333333;
    border-radius: 50%;
    padding: 10px 15px;
    margin-right: 10px;
}
.my-fa:hover, .fa-facebook-f:hover {
    background-color: #45f442;
    color: #000;
    border: 2px solid #45f442;
}
.about-block .fresh-text {
    text-align: end;
    padding-top: 20px;
}
footer {
    padding: 30px 0;
}