html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
b {
    font-weight: bold;
}
body {
    font-family: 'PT Sans', sans-serif;
    margin: 0;
    padding: 0;
    min-width: 320px;
    -webkit-text-size-adjust: none;
}
.iphone-se {
    width: 320px;
    height: 568px;
    margin: 50px auto;
    background-color: #fff;
    border: 1px solid black;
}
.content {
    padding-bottom: 50px;
}
.tasks-block {
    background-color: #fff;
}
.task {
    border: solid 1px #c9c9c9;
    border-bottom: none;
    padding-bottom: 60px;
}
p {
    font-size: 12px;
    color: #8c8c8c;
    padding: 0 0 5px 10px;
}
.wait {
    color: #f06874;
}
h6 {
    font-size: 20px;
    color: #8c8c8c;
    padding: 10px 10px 5px 10px;
}
h6 span {
    font-size: 1.2rem;
}
.expired {
    background-color: #ffcccc;
}
.executed-after-deadline {
    background-color: #f9e4b3;
}
.it-is-due-date {
    background-color: #edf9d3;
}
.performed {
    background-color: #b3f9c5;
}
.clear {
    clear: both;
}
/*First screen*/
.white {
    background-color: #fff;
    border: solid 1px black;
}
.btn-calendar {
    text-decoration: none;
}
.btn-calendar p{
    font-size: 40px;
    color: #cf3b3b;
    padding: 0 5px;
}
h2 {
    padding-left: 5px;
    font-size: 32px;
    color: #cf3b3b;
}
.year-wrap {
    display: flex;
    flex-wrap: wrap;
    padding: 0 5px 36px;
}
.year-wrap a {
    text-decoration: none;
    color: #14202b;

}
.month {
    width: 102px;
    padding: 5px;
}
h5 {
    font-size: 18px;
    text-align: center;
}
.date {
    display: inline-flex;
    text-align: center;
    width: 9%;
}
.date p {
    white-space: pre-line;
    padding: 0;
    margin: 0;
    font-size: 8px;
    color: #14202b;
}
.foot {
    border-top: solid 1px #8c8c8c;
    border-bottom: none;
}
.footer-links {
    text-decoration: none;
}
.footer-links p {
    color: #cf3b3b;
    font-size: 16px;
    padding: 10px 20px 10px 0 ;
}
/*third-screen*/
.header {
    border-bottom: solid 1px #8c8c8c;
}
h4 {
    padding: 10px;
}
h4 a {
    text-decoration: none;
    color: #14202b;
}
.chief-task {
    width: 100%;
    display: flex;
    align-items: flex-start;
    border-bottom: solid 1px #8c8c8c;
}
.menu-toggle {
    display: inline-block;
    background: transparent;
    width: 20px;
    border: none;
    outline: none;
    padding: 0;
    margin-left: 10px;
    cursor: pointer;
}
.menu-toggle .line {
    display: block;
    height: 3px;
    width: 100%;
    background: #8c8c8c;
    margin: 4px 0;
    border-radius: 10px;
}
.task-content {
    display: inline-block;
}
.task-content span {
    color: #14202b;
    opacity: .7;
}
.line-middle {
    opacity: .7;
}