@media (max-width: 1280px) {
    .galactic-box{
        max-width: 1280px;
    }
    .galactic{
        right: -35rem;
    }
}
@media only screen and (max-width: 1199.98px) and (min-height: 600px) {
    .galactic-box{
        max-width: 100%;
    }
    .galactic{
        right: -40rem;
    }
    .order-the-projects {
        right: 22px;
    }
    .block-carousel {
        width: 55%;
    }
    .box-navbar-order-link {
        padding-right: 22px;
    }
}
/*1100 640  @media only screen and (max-height: 600px)  480*/
@media only screen and (max-width: 991.98px) and (min-height: 700px) {
    .galactic{
        right: -45rem;
    }
    .logo {
        left: 30px;
    }
    .midle-text-box {
        top: 70px;
        left: 238px;
    }
    .block-carousel {
        width: 75%;
        left:148px;
    }
    .scroll {
        left: 148px;
    }
    .navbar-brand{
        padding-left: 30px;
    }
    .navbar-nav {
        padding-left: 0;
    }
}

@media (max-width: 767.98px) {
    .galactic{
        right: -50rem;
    }
    .block-carousel {
        width: 75%;
        top: 288px;
        left: 30px;
    }
    .carousel-header {
        font-size: 2.2em;
    }
    .carousel-text {
        font-size: 1.1em;
    }
    .carousel-indicators {
        top: 264px;
    }
    .scroll {
        display: none;
    }
    .order-the-projects {
        display: none;
    }
    .order-the-projects-with-list {
        display: block;
        left: 30px;
    }
    .box-navbar-order-link {
        display: none;
    }
}

@media (max-width: 575.98px) {
    .carousel-indicators {
        top: 264px;
    }
    .midle-text-box {
        top: 111px;
        left: 30px;
    }
}
@media (max-width: 479.98px) {
    .galactic{
        right: -50rem;
    }
    .order-the-projects {
        display: none;
    }
    .social-box {
        right: 16px;
    }
    .order-the-projects-with-list {
        bottom:61px;
        left: 30px;
    }
    .block-carousel {
        width: 91%;
        top: 288px;
        left: 30px;
    }
    .carousel-indicators {
        top: 244px;
    }
    .scroll {
        display: none;
    }
    .navbar-toggler {
        /*float: right;*/
    }
    .navbar-brand {
        /*float: left;*/
    }
    .text-box {
        width: 15rem;
        margin: 0 auto;
    }
}




