body, html {
    height: 100%;
    width: 100%;
    font-family: 'PT Sans', sans-serif;
    line-height: 26px;
    font-size: 18px;
    min-width: 480px;
}
.full {
    height: 100%;
    background: url("../img/main_layer.png") no-repeat center;
    background-size: cover;
}
.galactic-box{
    position: absolute;
    width: 100%;
    min-width: 480px;
    height: 100%;
    overflow: hidden;
    border: solid 1px red;
}
.galactic{
    position: absolute;
    bottom: -90px;
    right: -27rem;
    -webkit-animation:spin 760s linear infinite;
    -moz-animation:spin 760s linear infinite;
    animation:spin 760s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.container-fluid {
    margin: 0;
    padding: 0;
}
h1 {
    font-weight: bold;
    font-size: 44px;
    margin: 0;
    padding-bottom: 20px;
}
.logo {
    position: absolute;
    top: 61px;
    left: 76px;
}
.midle-text-box {
    position: absolute;
    top: 70px;
    left: 398px;
}
.midle-text {
    display: block;
    color: #fff;
    font-size: 22px;
    font-weight: bold;
}
.order-the-projects {
    position: absolute;
    top: 60px;
    right: 76px;
    border: 2px #fff solid;
    border-radius: 50px;
    background: #53ae50;
    padding: 3px 10px;
    text-align: center;
}
.order-text {
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    padding: 4px 5px;
    margin: 0;
}
.order-the-projects-with-list {
    display: none;
    position: absolute;
    bottom:61px;
    left: 76px;
    border: 2px #fff solid;
    border-radius: 50px;
    background: #53ae50;
    padding: 3px 10px;
    text-align: center;
}
.block-carousel {
    width: 45%;
    min-height: 400px;
    position: absolute;
    top: 268px;
    left: 398px;
}
#carousel-example-generic {
    position: relative;
}
h2 {
    font-size: 48px;
}
h3 {
    color: #fff;
}
.carousel-header {
    font-weight: bold;
    font-size: 60px;
    color: #fff;
}
.carousel-text {
    color: #fff;
    margin: 1px;
    padding: 0;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 0;
}
.carousel-indicators {
    position: relative;
    left: -10px;
    top: 310px;
    width: 120px;
    margin: 0;
    padding: 0;
    clear: both;
}
.carousel-indicators .active {
    background: #53ae50;
    border: none;
    height: 14px;
    width: 14px;
}
.carousel-indicators li{
    background: transparent;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid #fff;
    margin: 0 11px;
    cursor: pointer;
}
.carousel-indicators li:first-child{
    margin-left: 0;
    padding: 0;
}
.scroll {
    position: absolute;
    bottom: 47px;
    left: 398px;
}
.item-1 .social a:hover {

}
.social-box {
    position: absolute;
    bottom: 61px;
    right: 76px;
}
.items {
    display: inline-block;
    margin: 7px;
}
.fa{
    color: white;
    font-size: 16px;
}
.container {
    /*margin: 0 auto;*/
    max-width: 1280px;
    min-width: 480px;
}
nav{
    background: rgb(249,249,249);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(249,249,249,1)),to(rgba(243,243,243,1)));
    background: linear-gradient(to bottom, rgba(249,249,249,1) 0%,rgba(243,243,243,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#f3f3f3',GradientType=0 );
}
.sticky.is-sticky {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
}
.navbar{
    padding: 0;
    z-index: 10;
}
.navbar-nav {
    padding-left: 100px;
}
.nav-link {
    font-size: 18px;
    text-decoration: underline;
    padding: 20px 10px;
}
.navbar-light .navbar-nav .active>.nav-link{
    text-decoration: none;
    font-weight: bold;
    color: grey;
}
.navbar-brand{
    padding-left: 76px;
}
.box-navbar-order-link{
    float: right;
    padding-right: 100px;
}
.btn-order-the-projects {
    border-radius: 50px;
    border: 2px solid #fff;
    background: #53ae50;
    padding: 4px 10px;
    text-align: center;
}
.btn-order-the-projects-with-list {
    display: none;
    background: #53ae50;
    border-radius: 50%;
    border: solid 2px #fff;
    padding: 7px 10px;
}
.block-text-box {
    padding-bottom: 130px;
}
.box-for-map {
    position: relative;
}
.map {
    background: url(../img/map.svg) 107px -17px no-repeat;
    background-size: 100%;
    width: 69%;
    min-height: 710px;
    position: absolute;
    botom: 0;
    right: 0;
}
.text-box {
    width: 25rem;
    padding-top: 120px;
}
.statistic-box{
    padding-top: 115px;
    padding-left: 45px;
    padding-bottom:5px;
}
.grades{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.grade {
    position: relative;
}
.grade-2{
    padding-left: 25px;
}
.grade-3{
    padding-left: 15px;
}
.statistic-content {
    display: inline-block;
    padding: 30px 10px 0 21px;
    margin-left: -5px;
}
.last-gradle {
    padding: 30px 24px 0 8px;
}
.card {
    border: none;
    border-radius: 0;
    background: transparent;
}
p {
    margin-bottom: 28px;
}
.card-title {
    margin-bottom: 1rem;
}
.pull-left {
    margin-right: 35px;
}
.standarts {
    font-weight: bold;
    letter-spacing: 1px;
    padding-bottom: 35px;
}
h6 {
    font-size: 26px;
    font-weight: bold;
}
.fa-check{
    font-size: 12px;
    color: #00b300;
}
.services {
    background-color: #eeeeee
}
.block-prices {
    width: 100%;
    background: url("../img/layer_2.png") 100% 0 no-repeat;
    background-size: cover;
}
.prices {
    font-weight: bold;
    font-size: 50px;
    color: #fff;
    padding-top: 70px;

}
.prices-text-box {
    width: 65%;
    color: #fff;
    padding-top: 5px;
}
.text-price {
    color: #fff;
}
.text-small {
    display: block;
}
.block-with-link-form {
    padding-top: 15px;
    padding-bottom:75px;
}
.link-form span {
    display: inline-block;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50px;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    padding: 8px 17px;
}
.porfolio-block {
    padding-bottom: 80px;
}
.portolio-title {
    font-weight: bold;
    font-size: 50px;
    color: #000;
}
.portfolio-row {
    margin: 0;
}
.col-6, .col {
    padding-right: 1px;
    padding-left: 1px;
}
.card-img-top {
    border-radius: 0;
    margin: 0;
    padding: 0;
}
.footer {
    padding-top: 25px;
    padding-bottom: 100px;
}
.social:hover {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
}
.social {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}
.fa-3x{
    font-size: 22px;
    cursor: pointer;
}
#social-fb {
    color: #7e8eb6;
}
#social-inst {
    color: #e5857c;
}
#social-in{
    color: #67a2ca;
}
.my-custom-ul {
    list-style: none;
    padding: 0;
}
.my-custom-li {
    margin: 0;
    padding: 0 0 0 1.3em;
}
.my-custom-li:before {
    content: "\f00c";
    font-family: FontAwesome;
    display: inline-block;
    font-size: 12px;
    color: #00b300;
    margin-left: -2em;
    margin-right: 5px;
    width: 1em;
}
.technologies {
    font-size: 16px;
    line-height: 22px;
}
.circle-background {
    width: 104px;
    height: 104px;
    border-radius: 70px;
    margin: 0 auto;
    background-color: rgba(11, 24, 36, 0.7);
    padding-top: 10px;
}
.element-1 {
    width: 150px;
}
.element-2 {
    width: 200px;
}
.img-wrap {
    width: 100%;
    height: 100px;
    background: url('../img/new_big-icons-sprite.svg') no-repeat;
}
.companent-1 {
    height: 80px;
    background-position: 19px -767px;
}
.companent-2 {
    height: 80px;
    background-position: 31px -852px;
}
.companent-3 {
    height: 80px;
    background-position: 50px -938px;
}
.companent-4 {
    height: 80px;
    background-position: 21px -1023px;
}
.companent-5 {
    width:125px;
    background-position: 0 -440px;
}
.companent-6 {
    width:105px;
    background-position: 0 -550px;
}
.companent-7 {
    width:105px;
    background-position: 5px -660px;
}
.companent-8 {
    width:105px;
    background-position: 0 0;
}
.companent-9 {
    width:105px;
    background-position: 0 -111px;
}
.companent-10 {
    width:105px;
    background-position: 6px -219px;
}
.companent-11 {
    width:105px;
    background-position: 0 -330px;
}
.companent-12 {
    width:105px;
    background-position: 6px 0;
}
.for-portfolio {
    position: static;
    text-align: center;
    display: block;
    width: 100%;
    margin: 0 auto;
}
.for-portfolio li{
    background: transparent;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid black;
    margin: 0 11px;
}
.block-form {
    width: 700px;
    background-color: #f3f8fc;
    margin: 0 auto;
}
.form-group {
    margin-bottom: .6rem;
}
input {
    border: transparent;
    border-bottom: solid 2px #0079c4;
    padding: 10px;
    background-color: #e4e8eb;
    font-size: 15px;
    width: 320px;
}
textarea {
    border: transparent;
    border-bottom: solid 2px #0079c4;
    padding: 10px;
    background-color: #e4e8eb;
    font-size: 15px;
    width: 100%;
    height: 90px;
    vertical-align: top;
}

:focus::-webkit-input-placeholder {color: transparent}
:focus::-moz-placeholder          {color: transparent}
:focus:-moz-placeholder           {color: transparent}
:focus:-ms-input-placeholder      {color: transparent}

.btn-send {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    padding: 11px 55px;
    border: none;
}
input#input{
    display: none;
}
label#label{
    font-weight: bold;
    text-decoration: underline;
    font-size: 15px;
    cursor: pointer;
}
#paperclip-icon {
    color: #00b300;
    padding: 8px;
}
.triangle-close {
    margin: 0 auto;
    position: relative;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 50px 700px;
    border-color: transparent transparent #f3f8fc transparent;
}
#form-img {
    margin-top:17px;
    margin-bottom: 20px;
}
#block-send {
    padding: 15px 0 38px 0;
}
.close-thik {
    color: black;
    font-size: 22px;
    position: absolute;
    right: 17px;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    top: 64px;
}
.close-thik:hover {
    text-decoration: none;
    color: #777;
}
.close-thik:after {
    content: '✖';
}