body {
    font-family: 'PT Sans', sans-serif;
    line-height: 1.3;
}
h1 {
    font-weight: bold;
    color: #fff;
    font-size: 60px;
    margin: 0;
    padding-bottom: 20px;
}

.start-block {
    position: relative;
}
.start-block img {
    width: 100%;
    height: auto;
}
.logo {
    position: absolute;
    top: 61px;
    left: 76px;
}
.sofware-developer {
    display: block;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}
.order-the-projects {
    position: absolute;
    top: 59px;
    right: 76px;
    border: 2px #fff solid;
    border-radius: 50px;
    background: green;
    padding: 5px 10px;
    text-align: center;
}
.order-text {
    text-transform: uppercase;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    padding: 7px;
    margin: 0;
    font-size: 14px;
}
.block-carousel {
    position: absolute;
    top: 268px;
    left: 398px;
}
.carousel-text {
    font-size: 24px;
    font-weight: normal;
    color: #fff;
    margin: 0;
    padding: 0;
    letter-spacing: 0;

}