@media screen and (min-width: 640px) and (max-width: 980px){
    .logo{
        width: 98px;
        height: 95px;
        background-size: 32px;
    }
    .main-nav ul{
        position: static;
        background: transparent;
        width: 100%;
        padding: 31px 0 0 124px;
        display: block;
    }
    .main-nav li{
        display: inline-block;
        margin-right:36px;
    }
    .main-nav a{
        color: #f26c4f;
        display: inline-block;
        font-size: 14px;
        border: none;
    }
    .nav-btn{
        display: none;
    }
    .main-nav li:last-child{
        margin-right: 0;
    }
}
