*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Open Sans', sans-serif;
	color: #000;
	background: #fff;
	font-size: 16px;
	line-height: 1.3;
	margin: 0;
	min-width:320px;
}
.container{
	min-width:320px;
	max-width: 1174px;
	margin: 0 auto;
}
h1,h2,h3,h4,h5,h6,p{
	margin-top: 0;
}
header{
	height: 464px;
	background: url("../img/sm-photo.jpg") 50% 0 no-repeat;
	background-size: cover;
}
.logo{
	width: 70px;
	height: 70px;
	background: #f26c4f url("../img/logo.png") 50% 50% no-repeat;
	background-size: 22px;
	color: transparent;
	text-decoration: none;
	float: left;
}
.nav-btn{
	width: 70px;
	height: 70px;
	background: #1ac7c3;
	border:none;
	position: relative;
	float: right;
}
.nav-btn i{
	position: absolute;
	width: 18px;
	height: 2px;
	background: #fff;
	top: 50%;
	left: 50%;
	margin: -1px 0 0 -9px;
}
.nav-btn i::before,
.nav-btn i::after{
	content: "";
	width: 18px;
	height: 2px;
	background: #fff;
	position: absolute;
	left: 0;
}
.nav-btn i::before{
	top:-6px;
}
.nav-btn i::after{
	top: 6px;
}
.main-nav{
	position: relative;
	font-family: 'Raleway', sans-serif;
}
.main-nav ul{
	margin: 0;
	position: absolute;
	background: #1ac7c3;
	right: 0;
	top:70px;
	list-style: none;
	width: 70%;
	padding: 5px 10px;
	display: none;
}
.main-nav li{
	margin:0;
	padding: 0;
}
.main-nav a{
	text-decoration: none;
	color: #fff;
	font-weight: 600;
	text-transform: uppercase;
	display: block;
	padding: 8px 4px;
	font-size: 12px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}
.main-nav li:last-child a{
	border:none;
}
.main-nav:hover ul{
	display: block;
}
.text-block-1{
	padding-bottom: 9px;
}
.text-block-1 h3.mobile-version{
	display: block;
	font-size: 38px;
	font-weight: 500;
	text-transform: uppercase;
	color: #153f60;
	padding: 54px 10px 25px 27px;
}
.text-block-1 h3.web-version{
	display: none;
}
.text-block-1 p{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	padding: 0 10px 56px 27px;
	color: #153f60;
	line-height: 1.7;
}
.text-block-1 p:last-child {
	display: none;
}
.text-block-2{
	background: #1ac7c3;
	width: 100%;
}
.text-block-2 h3.mobile-version{
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	font-size: 30px;
	text-transform: uppercase;
	color: #fff;
	padding: 54px 10px 33px 33px;
	line-height: 1.2;
}
.text-block-2 h3.web-version{
	display: none;
}
.text-block-2 p{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 14px;
	font-style: italic;
	color: #fff;
	padding: 0 10px 50px 33px;
	line-height: 1.7;
}
.text-block-3{
	width: 100%;
	padding-bottom: 35px;
}
.content{
	width: 84%;
	margin: auto;
}
.last-block{
	background: #f26c4f;
}
.text-block-3 h3.mobile-version{
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	font-size: 40px;
	text-transform: uppercase;
	color: #fff;
	padding: 35px 10px 28px 26px;
	line-height: 1.2;
}
.text-block-3 p{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #fff;
	padding: 0 10px 0 27px;
	line-height: 1.7;
}
span.web-text{
	display: none;
}
.text-block-3 a.btn-get{
	display: block;
	background: #fff;
	color: #f26c4f;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 17px;
	text-align: center;
	padding: 14px 5px 16px 5px;
	margin: 20px 0 15px 0;
}

