@media screen and (max-width: 1280px) {
    .main-nav ul{
        display: none;
    }
    .text-block-on-image{
        display: none;
    }
    .picture-block img{
        width: 100%;
    }
    .nav-btn{
        display: block;
        width: 90px;
        height: 90px;
        background: rgba(0,0,0,0.7);
        border:none;
        position: relative;
        float: right;
        padding: 0;
        margin-top: 20px;
    }
    .nav-btn i{
        position: absolute;
        width: 18px;
        height: 2px;
        background: #fff;
        top: 50%;
        left: 50%;
        margin: -1px 0 0 -9px;
    }
    .nav-btn i::before,
    .nav-btn i::after{
        content: "";
        width: 18px;
        height: 2px;
        background: #fff;
        position: absolute;
        left: 0;
    }
    .nav-btn i::before{
        top:-6px;
    }
    .nav-btn i::after{
        top: 6px;
    }
    .main-nav {
        position: relative;
    }
    .main-nav:hover ul{
        z-index: 100;
        display: block;
        margin: 0;
        position: absolute;
        background: rgba(0,0,0,0.7);
        right: 0;
        top:110px;
        list-style: none;
        width: 30%;
        padding: 0px 20px;
    }
    .main-nav ul li{
        display: block;
    }
    .main-nav ul li a{
        display: block;
        width: 100%;
        border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    }
    .main-nav li:last-child a{
        border:none;
    }

}
